html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Make header background black */
header {
    background-color: transparent;
}

/* Make navbar text white */
.navbar {
    background-color: transparent !important;
}

.navbar-brand, .nav-link {
    color: white !important;
}

    /* Hover effect */
    .nav-link:hover {
        color: #f8c146 !important; /* Gold color on hover */
        transition: color 0.3s ease-in-out;
    }


body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensures at least full viewport height */
    height: 100%; /* Covers full content height */
    width: 100%;
    margin: 0;
    padding: 0;
}