@model Department
<div class="my-3 form-group">
    <label asp-for="Code"></label>
    <input asp-for="Code" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="CreateAt"></label>
    <input asp-for="CreateAt" class="form-control" readonly />
</div>