@model UserToReturnDto

<div class="my-3 form-group">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" class="form-control" readonly />
<div class="my-3 form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
