@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<br />
<br />

<div>
    <div class="my-3 form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <div class="my-3 form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" readonly />
    </div>
    <div class="my-3 form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>
    <div class="my-3 form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" readonly />
    </div>
    <div class="my-3 form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" readonly />
    </div>
    <div class="my-3 form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" readonly />
    </div>
    <div class="my-3 form-group">
        <input asp-for="IsActive" class="form-check" disabled />
        <label asp-for="IsActive"></label>
    </div>
    <div class="my-3 form-group">
        <input asp-for="IsDeleted" class="form-check" disabled />
        <label asp-for="IsDeleted"></label>
    </div>
    <div class="my-3 form-group">
        <label asp-for="HiringDate"></label>
        <input asp-for="HiringDate" class="form-control" readonly />
    </div>
    <div class="my-3 form-group">
        <label asp-for="CreateAt"></label>
        <input asp-for="CreateAt" class="form-control" readonly />
    </div>
    <div class="my-3">
        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">Back</a>
    </div>
</div>
