@model CreateEmployeeDto
<div class="my-3 form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="my-3 form-group">
    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="my-3 form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="my-3 form-group">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="my-3 form-group">
    <label asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="my-3 form-group">
    <label asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="my-3 form-group">
    <input asp-for="IsActive" class="form-check" />
    <label asp-for="IsActive"></label>
</div>
<div class="my-3 form-group">
    <input asp-for="IsDeleted" class="form-check" />
    <label asp-for="IsDeleted"></label>
</div>
<div class="my-3 form-group">
    <label asp-for="HiringDate"></label>
    <input asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>
</div>
<div class="my-3 form-group">
    <label asp-for="CreateAt"></label>
    <input asp-for="CreateAt" class="form-control" />
    <span asp-validation-for="CreateAt" class="text-danger"></span>
</div>