@model CreateDepartmentDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<br />
<br />

<form asp-action="Create" asp-controller="Department" method="post">
    <div class="my-3 form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="my-3 form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="my-3 form-group">
        <label asp-for="CreateAt"></label>
        <input asp-for="CreateAt" class="form-control" />
        <span asp-validation-for="CreateAt" class="text-danger"></span>
    </div>
    <div class="my-3">
        <button type="submit" value="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" asp-controller="Department" class="btn btn-secondary">Back</a>
    </div>
</form>