@model IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
}

<h1>All Departments</h1>

<br />
<br />
<a asp-action="Create" asp-controller="Department" class="btn btn-primary">Create Department</a>

<br />
<br />
@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">
       
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Date Of Creation</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.CreateAt</td>
                    <partial name="ButtonPartialView" model="@department.Id"/>
                </tr>
            })
        </tbody>

    </table>

}else{
    <div class="mt-4 alert alert-warning" role="alert">
        <h4>No departments found :( </h4>
    </div>
}