
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Check Your Inbox :)</p>
    </div>
</div>

