@model SignInDto
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
		<div class="agileits-top">
		  <div asp-validation-summary="All" class="m-3 alert"></div>
		  <form asp-action="SignIn" method="post">
               <div class="form-group">
                  <input class="text email" asp-for="Email" placeholder="Email" required>
               </div>
               <div class="form-group">
                  <input class="text" asp-for="Password" placeholder="Password" required>
               </div>
               <div class="wthree-text">
                    <label class="anim">
                    <input asp-for="RememberMe" type="checkbox" class="checkbox">
                    <span>Remember Me?</span>
                    </label>
               <div class="clear"></div>
               </div>
               <div class="form-group">
                 <input type="submit" class="btn btn-primary" value="Sign In">
               </div>
           </form>
			<p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
		</div>
</div>


@section Validation {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
