@model RoleToReturnDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Role</h1>

<br />
<br />

<form asp-action="Delete" asp-controller="Role" method="post">
    <partial name="PartialViews/DetailsDeletePartialView" />
    <div class="my-3">
        <button type="submit" value="submit" class="btn btn-primary">Delete</button>
        <a asp-action="Index" asp-controller="Role" class="btn btn-secondary">Back</a>
    </div>
</form>