@model UserToReturnDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

<br />
<br />

<form asp-action="Edit" asp-controller="User" method="post" enctype="multipart/form-data">
    <partial name="PartialViews/CreateEditPartialView" />

    <div class="my-3">
        <button type="submit" value="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Back</a>
    </div>
</form>

@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}